<header class="header">
    <div class="container container-div-header">
        <a class="header-logo" href="#">
            <img class="img-header" src="/img/Лого.png" alt="logo" />
            <h2 class="h2-header-logo">Fly4est</h2>
        </a>
        <form class="header-form">
            <label for="header-inp">Type</label>
            <input type="text" id="header-inp" placeholder="Search">
            <button class="header-submit" type="submit">🔍</button>
        </form>
        <a class="header-basket" href="#">
            <svg class="header-svg-basket" width="50" height="50">
                <use href="/img/symbol-defs.svg#icon-Frame"></use>
            </svg>
            <h2 class="h2-basket">Basket</h2>
        </a>
    </div>
</header>