<section class="hero">
    <div class="container hero-container">
        <div class="hero-container-nav">
            <button type="button" class="hero-btn-menu">
                <h2 class="h2-hero-menu ">Menu</h2>
                <svg class="hero-svg" width="40" height="40">
                    <use href="../img/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button>
            <div class="icon-arrow-narrow-left">
                <svg class="hero-arrow" width="40" height="40">
                    <use class="hero-arrow-left" href="../../img/symbol-defs.svg#icon-arrow-narrow-left"></use>
                </svg>
                <p class="hero-arrow-text">
                    Click on me
                </p>
            </div>
            <ul class="hero-navigation ">
                <li class="hero-navigation-item">
                    <a class="hero-navigation-link" href="#about_me">About me</a>
                </li>
                <li class="hero-navigation-item">
                    <a class="hero-navigation-link" href="#benefits">Benefits</a>
                </li>
                <li class="hero-navigation-item">
                    <a class="hero-navigation-link" href="#options">Options</a>
                </li>
                <li class="hero-navigation-item">
                    <a class="hero-navigation-link" href="#faq">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="hero-apps-div">
            <a class="hero-tel" href="tel:+380684439426" target="_blank">+380(68)443-94-26</a>
            <li class="hero-item">
                <a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="hero-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="hero-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="hero-icon" width="20" height="20">
                        <use href="/img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </div>
    </div>
</section>