.header {
    background-color: grey;
}

.container-div-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    display: flex;
    gap: 7px;
}

.h2-header-logo {
    font-weight: 650;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-form {
    display: flex;
    align-items: center;
    background: #232f3e;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    height: 60px;
}

.header-form label {
    background: #e3e6e6;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

.header-form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    height: 100%;
    width: 500px;
}

.header-form button {
    background: #febd69;
    border: none;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-basket {
    display: flex;
}

.h2-basket {
    font-weight: 550;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
}